*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #757474;
  font-weight: 300;
  line-height: 1.6; }

.BodyContent {
  background: darkolivegreen;
  color: black;
  font-size: 2.2rem;
  grid-column: 2 / span 8;
  grid-row: 2 / -1; }

.Contact {
  background: burlywood;
  color: black;
  font-size: 2.2rem; }

.DummyComponent {
  background: brown;
  color: black;
  font-size: 2.2rem;
  grid-column: col-start 7 / full-end;
  grid-row: 1 / 1; }

.Footer {
  background: orangered;
  color: black;
  font-size: 2.2rem;
  grid-column: full-start / full-end;
  grid-row: 5 / -1; }

.Header {
  background: purple;
  color: black;
  font-size: 2.2rem;
  grid-column: full-start / -1; }

.ImageGallery {
  background: yellowgreen;
  color: black;
  font-size: 2.2rem;
  grid-column: 10 / -1;
  grid-row: 2 / -1; }

.Requests {
  background: peru;
  color: black;
  font-size: 2.2rem;
  grid-row: 3 / 5; }

.Showoff {
  background: palevioletred;
  font-size: 2.2rem;
  color: black;
  grid-column: center-start / -1; }

.Sidebar {
  background: fuchsia;
  color: black;
  font-size: 2.2rem;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.Container {
  display: grid;
  grid-template-rows: 1fr 19vh min-content 40vw 5rem repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }
