*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #757474;
  font-weight: 300;
  line-height: 1.6; }

.BodyContent {
  background: #342e50;
  color: black;
  font-size: 2.2rem;
  grid-column: 1 / span 7;
  grid-row: 2 / -1; }

.Contact {
  background: burlywood;
  color: black;
  font-size: 2.2rem; }

.DummyComponent {
  grid-column: 8 / -1;
  grid-row: 2 / span 4;
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  height: 13.2rem; }
  .DummyComponent-Side {
    width: 100%;
    height: 13.2rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .DummyComponent-Side-Front {
    height: 100%;
    background-image: linear-gradient(to right bottom, blue, yellowgreen); }
  .DummyComponent-Side-Back {
    transform: rotateY(180deg); }
    .DummyComponent-Side-Back-1 {
      background-image: linear-gradient(to right bottom, blue, yellowgreen); }
  .DummyComponent:hover .DummyComponent-Side-Front {
    transform: rotateY(-180deg); }
  .DummyComponent:hover .DummyComponent-Side-Back {
    transform: rotateY(0); }

.Footer {
  background: orangered;
  color: black;
  font-size: 2.2rem;
  grid-column: 1 / full-end;
  grid-row: 8 / -1; }

.Header {
  background: purple;
  color: black;
  font-size: 2.2rem;
  grid-column: 1 / -1;
  text-align: center; }

.ImageGallery {
  background: #ffd1dc;
  color: black;
  font-size: 2.2rem;
  grid-column: 8 / -1;
  grid-row: 3 / -1;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: repeat(4, max-content);
  grid-gap: 2.5rem;
  justify-content: center;
  padding: 3rem 0; }
  .ImageGallery-Image {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%; }
    .ImageGallery-Image:hover {
      transform: scale(1.5); }

.Requests {
  background: peru;
  color: black;
  font-size: 2.2rem;
  grid-row: 3 / 5; }

.Showoff {
  background: palevioletred;
  font-size: 2.2rem;
  color: black;
  grid-column: center-start / -1; }

.Sidebar {
  background: fuchsia;
  color: black;
  font-size: 2.2rem;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.Container {
  display: grid;
  grid-template-rows: 1fr 18vh 1fr min-content 10rem 31vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }
