// Colors
$white: #ffffff;
$black: #0c0606;
$grey: #757474;
$lightGreen: #7ed56f;
$mediumGreen: #55c57a;
$darkGreen: #28b485;
$darkGrey: #999;
$darkerGrey: #333;
$lightGrey: #f7f7f7;
$lighterGrey: #eee;
$lightOrange: #ffb900;
$mediumOrange: #ff7730;
$lightBlue: #2998ff;
$mediumPurple: #5643fa;

// Grid 
$gridWidth: 114rem;
$gutterVertical: 8rem;
$gutterHorizontal: 6rem;

// Font-Sizes
$smallFont: 1.6rem;