// .Header {
//   background: purple;
//   color: black;
//   font-size: 2.2rem;
//   grid-column: full-start / -1;
// }

.Header {
  background: purple;
  color: black;
  font-size: 2.2rem;
  grid-column: 1 / -1;
}