// .ImageGallery {
//   background: yellowgreen;
//   color: black;
//   font-size: 2.2rem;
//   grid-column: 10 / -1;
//   grid-row: 2 / -1;
// }

.ImageGallery {
  background: yellowgreen;
  color: black;
  font-size: 2.2rem;
  grid-column: 8 / -1;
  grid-row: 3 / -1;
}